body{

    background-image: url(./HD-wallpaper-cute-plant-minimalist-computer-simple-simple-plant-aesthetic.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    position: relative;
   
}
h1{
    font-family: 'Alegreya Sans', sans-serif;
font-family: 'Amatic SC', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
#butt{
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 80px;
    border: 0;
}
h3{
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

tr td{

    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}
